*{
	margin: 0;
}

header{
  text-align: center;
  background: beige;
}
h1{
	border: solid lightcyan;
	color: darkcyan;
}
nav{
	text-align: center;
	padding: 4px;
	margin: 10px;
}
a{
	background: #2b3d58;
	border-radius: 2px ;
	color: beige;
	margin: 3px;
	padding: 3px;
	border: dashed cadetblue;
  text-decoration: none;
}
.Contactos{
	background: cadetblue;
	border-radius: 50%;
	color: beige;
	margin: 3px;
	padding: 3px;
	border: dashed beige;
	text-decoration: none;
}

a:hover{
	background: cadetblue;
	border-radius: 50%;
	color: beige;
	margin: 3px;
	padding: 10px;
	border: dashed beige;
	text-decoration: none;
}
body{
	background: cadetblue;
h2{
	background: #2b3d58;
	color: powderblue;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}

section{
	display: flex;
	background: powderblue;
	padding: 2px;
	height: 500px;
}
.caja1{
	filter: contrast(120%);
	text-align: center;
	flex: 1;
	background: #2b3d58;
	border-radius: 10px;
	height: 100%;
	margin: 2px;
}
.caja1:hover{
	text-align: center;
	flex: 2;
	background: #2b3d58;
	border-radius: 10px;
	height: 100%;
	margin: 2px;
}
.caja1 img{
	border: solid beige;
	margin: 10px;
	height: 50%;
	width: 50%;
	border-radius: 50%;
}
.caja1-1{
	text-align: left;
	padding: 10px;
}
.caja1-1 img{
  height:20px;
  width: 20px;
  border-radius: 50%;
 }
.caja2{
	filter: contrast(120%);
	text-align: center;
	flex: 1;
	background: #2b3d58;
	border-radius: 10px;
	height: 100%;
	margin: 2px;
}
.caja2:hover{
	text-align: center;
	flex: 2;
	background: #2b3d58;
	border-radius: 10px;
	height: 100%;
	margin: 2px;
}
.caja2 img{
	border: solid beige;
	margin: 10px;
	height: 50%;
	width: 50%;
	border-radius: 50%;
}
.caja2-2{
	text-align: left;
	padding: 10px;
}
.caja2-2 img{
	height:20px;
  width: 20px;
  border-radius: 50%;
}
.caja3{
	filter: contrast(120%);
	text-align: center;
	flex: 1;
	background: #2b3d58;
	border-radius: 10px;
	height: 100%;
	margin: 2px;
}
.caja3:hover{
	text-align: center;
	flex: 2;
	background: #2b3d58;
	border-radius: 10px;
	height: 100%;
	margin: 2px;
}
.caja3 img{
	margin: 10px;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	border: solid beige;
}
.caja3-3{
	text-align: left;
	padding: 10px;
}
.caja3-3 img{
	height:20px;
  width: 20px;
  border-radius: 50%;
}